/vendor
/node_modules
/.idea
/.vscode
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/*.key
/public/hot
/public/storage
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
!/storage/framework/cache/data/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/views/.gitkeep
